/* Style sheet for my personal website */

@keyframes colorCycle {
    0% {
      color: #ee6055;
    }
    25% {
      color: #60d394;
    }
    50% {
      color: #aaf683;
    }
    75% {
      color: #ffd97d;
    }
    100% {
      color: #ff9b85;
    }
  }
.navbar-brand {
    animation-name: colorCycle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.nav-link:hover {
    color: orange;
}

.my-banner {
  width: 100%;
  height: auto;
}

.my-title {
  font-size: xx-large;
}