/* Style sheet for my personal website */


.navbar-brand {
    color: pink;
}
.navbar-brand:hover {
    color: pink;
}
.navbar-brand:active {
    color: pink;
}
.navbar-brand:visited {
    color: pink;
}

.nav-link:hover {
    color: orange;
}
.nav-link:active {
    color: greenyellow;
}