/* Style sheet for my personal website */

@keyframes colorCycle {
    0% {
      color: #ee6055;
    }
    25% {
      color: #60d394;
    }
    50% {
      color: #aaf683;
    }
    75% {
      color: #ffd97d;
    }
    100% {
      color: #ff9b85;
    }
  }
.navbar-brand {
    animation-name: colorCycle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.nav-link:hover {
    color: orange;
    /* font-style: italic; */
}
.my-banner {
  width: 100%;
  height: auto;
}
.my-title {
  font-size: xx-large;
  font-style: italic;
}

/* #about div {
  border: 1px solid black;
} */

.page {
  color: #c4bfb7;
}
.about-photo {
  border-radius: 100%;
  display: block;
  margin: auto;
  transition: transform 2.5s ease-in-out; 
}
.about-photo:hover {
  transform: rotate(360deg);
}
.about-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-text {
  font-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
  .about-title {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .about-photo {
    margin-top: 0;
  }
}